<div class="data_container">
    <div class="data">
        <input type="text" id="fish_id" name="fish_id" placeholder={{fish_id}} readonly>
        <input type="text" id="species" name="species" placeholder={{species}}>
        <input type="text" id="age" name="age" placeholder={{age}}>
        <input type="text" id="tank_id" name="tank_id" placeholder={{tank_id}}>
        <input type="text" id="volume_needed" name="volume_needed" placeholder={{volume_needed}}>
        <input type="checkbox" id="delete" name="delete" placeholder={{volume_needed}}>
    </div>
</div>