<aside id="filter_box">
    <h3>Filter</h3>

    <div class="filter">
        <label for="get_fish_id">Fish ID</label>
        <input type="text" id="get_fish_id" name="get_fish_id" placeholder={{species}}>
        <label for="get_species">Species</label>
        <input type="text" id="get_species" name="get_species" placeholder={{species}}>
        <label for="get_age">Age</label>
        <input type="text" id="get_age" name="get_age" placeholder={{age}}>
        <label for="get_tank_id">Tank ID</label>
        <input type="text" id="get_tank_id" name="get_tank_id" placeholder={{tank_id}}>
        <label for="get_volume_needed">Volume Needed</label>
        <input type="text" id="get_volume_needed" name="get_volume_needed" placeholder={{volume_needed}}>
    </div>

    <button id="filter_button">Filter</button>
</aside>