<div class="data_entry">
    <div class="data">
        <span id="fish_id">{{fish_id}}</span>
        &nbsp;
        <span id="species">{{species}}</span>
        &nbsp;
        <span id="age">{{age}}</span>
        &nbsp;
         <span id="tank_id">{{tank_id}}</span>
        &nbsp;
        <span id="volume_needed">{{volume_needed}}</span>
    </div>
</div>