<tr class="data" draggable="true" ondragstart="drag(event)">
    <td id="fish_id">{{fish_id}}</td>
    <td id="species">{{species}}</td>
    <td id="age">{{age}}</td>
    <td id="tank_id">{{tank_id}}</td>
    <td id="volume_needed">{{volume_needed}}</td>
</tr>
