<div class="data_container">
    <div class="fish_data">
        <input type="text" class="static" class="fish_id" name="fish_id" placeholder={{fish_id}} readonly>
        <input type="text" class="species" name="species" placeholder="{{species}}">
        <input type="text" class="age" name="age" placeholder={{age}}>
        <input type="text" class="tank_id" name="tank_id" list="foreign_tanks2" placeholder={{tank_id}}>
        <input type="text" class="volume_needed" name="volume_needed" placeholder={{volume_needed}}>
        <input type="checkbox" class="delete" name="delete">
    </div>
</div>